.grid-container {
    display: grid;
    grid-template-areas:
    "header header header header header header header header"
    "sidebar content content content content content content content";
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 8vh 92vh;
    height: 100vh;
}

.app-header {
    grid-area: header;
    text-align: center;
}

.app-sidebar {
    grid-area: sidebar;
}

.app-main {
    grid-area: content;
    overflow: auto;
}
