body {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    font-family: "Urbanist", serif;
    background-image: linear-gradient(lightcyan, #e9f5f5, lightcyan);
    height: 100vh;
}

@font-face {
    font-family: "Urbanist";
    src: url(./assets/google-fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
}


